@import './base.css';

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}